/download
/eclipseBin

## gradle
/.gradle
/build

## ForgeGradle
/run
/*.launch
/classes

## eclipse
/eclipse
/.metadata
/.classpath
/.project
/bin

## intellij
/out
/.idea
/*.iml
/*.ipr
/*.iws
/atlassian-ide-plugin.xml

## gedit
*~

## DLA edit
config
crash-reports
logs
mods
saves
options.txt
usercache.json
usernamecache.json
/src/main/java/old_code/*
